[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
ipykernel = "*"
jupyter = "*"
chart-studio = "*"
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
requests = "*"
psutil = "*"

[requires]
python_version = "3.8.2"
