<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sneaker Head - Percentile</title>
      
      <!-- CSS reference  -->
      <link rel="stylesheet" href="../Resources/style.css">
    </head>


    <body>

    <!-- Navigation  -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">Sneaker Head</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="scatter.html">Value Over Time</a>
                <a class="dropdown-item" href="#">Quarter Percentile</a>
                <a class="dropdown-item" href="ca.html">California</a>
                <a class="dropdown-item" href="fl.html">Florida</a>
                <a class="dropdown-item" href="ny.html">New York</a>
                <a class="dropdown-item" href="oregon.html">Oregon</a>
                <a class="dropdown-item" href="tx.html">Texas</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="comparison.html">Comparison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="StockX-Data-2019.html">Data</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>
    </div>

    <!-- Content  -->
    <br>
    <br>
    <div class="card text-black bg-light mb-3 mb offset-md-1" style="max-width: 55rem;">
    <div class="row">
      <div>
        <!-- Left box  -->
        <div class="box offset-md-1">
            <br>
            <h3 class="title">Profit and Loss Margins are depicted by Percentile alongside Minimum and Maximum.</h3>
            <hr>
            <p>The best sellers from Air Jordan, Nike, and Adidas are represented. The size of bubble is proportional to the number of purchases nationwide.
            </p>
            <div class="container" style="padding-bottom: 40px;">
                <div class="row">
                    <div class="col-lg-6" style="padding: 30px;">
                        <a href="#">
                        <img class="panel" src="../Resources/assets/images/bubble.png" style="max-width: 65rem;" alt="Value Over Time">
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Footer -->
    <footer>
        <div class="footer">Copyright &copy; Catherine Gomes 2020</div>
    </footer>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
  </body>
</html>